.btn {
  border-radius: 20px;
  font-size: 0.8rem;
  color: white;
  background: none;
  border: 1px solid white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  min-width: 90px;
  justify-content: center;
}

.btn > :first-child {
  margin-right: 10px;
}
.btn-primary {
  background-image: linear-gradient(#ed8770, #d9519d);
  border: none;
}
