@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

:root {
  --main-font-color: white;
  --main-background-color: #383b49;
  --font-family: Roboto, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--main-background-color);
}

body {
  font-family: var(--font-family);
  margin: 0;

  color: var(--main-font-color);
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
